{% extends "core/base_layout.html" %}

{% block navbar %}
{% with request.resolver_match.url_name as current_url %}
<li {% if current_url == "players" or current_url == "player_create" %}class="active"{% endif %}>
    <a href="{% url 'core:players' %}">Joueurs</a>
</li>
<li class="dropdown {% if current_url == "season" or current_url == "season_create" %}active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Saison <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        {% for season in season_list %}
            <li><a href="{% url 'core:season' season %}">{{ season }}</a></li>
        {% endfor %}
        {% if season_list %}<li class="divider"></li>{% endif %}
        <li><a href="{% url 'core:season_create' %}">Nouvelle saison</a></li>
    </ul>
</li>
{% if season_list %}
<li class="dropdown {% if current_url == "matches" %}active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Matchs <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        {% for season in season_list %}
            <li><a href="{%url 'core:matches' season %}">{{ season }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endif %}
{% endwith %}
{% endblock %}
