{% extends "core/admin_layout.html" %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Matchs {{ season.year }}
            <a href="{% url 'core:match_create' season.year %}" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-plus"></span>
                Match
            </a>
        </h1>
    </div>
    <table class="table table-striped">
        <form action="{% url 'core:match_delete' %}" method="post">{% csrf_token %}
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Statut</th>
                    <th>Résultat</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for match in season_matches %}
            <tr>
                <td>{{ match.date|date:'Y-m-d' }}</td>
                <td>{{ match.status }}</td>
                <td>{{ match.get_score }}</td>
                <td><a href="{% url 'core:match_update' season.year match.id %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
            <td>
                <button type="submit" name="id" value="{{ match.id }}"
                style="padding: 0;" class="btn btn-link match_delete">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
    {% endfor %}
</form>
</table>
</div>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script>
$(function () {
    $('.match_delete:submit').on('click', function (e, confirmed) {
        if (confirmed) {
            return;
        }
        e.preventDefault();
        var button = $(this);
        bootbox.confirm({
            message: 'Êtes-vous certain de vouloir supprimer ce match?',
            buttons: {
                'cancel': {
                    label: 'Annuler',
                    className: 'btn-default'
                },
                'confirm': {
                    label: 'Supprimer',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    button.trigger('click', true);
                }
            }
        });
    });
    $('#date').datepicker({
        format: 'yyyy-mm-dd',
        startView: 'month',
    });
});
</script>
{% endblock %}

{% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" rel="stylesheet">
{% endblock %}
