{% extends "core/admin_layout.html" %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Saison {{ season.year }}
            <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-plus"></span> Joueurs
            </button>
            <a href="{% url 'core:season_update' season.year %}" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-pencil"></span> Saison
            </a>
        </h1>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Joueurs disponibles</h4>
                    </div>
                    <form action="{% url 'core:season_players_create' season.id %}" method="post">{% csrf_token %}
                        <div class="modal-body">
                            <table class="table table-striped table-condensed">

                                <thead>
                                    <tr>
                                        <th>Prénom</th>
                                        <th>Nom</th>
                                        <th>Sexe</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                {% for player in players %}
                                <tr>
                                    <td>{{ player.first_name }}</td>
                                    <td>{{ player.last_name }}</td>
                                    <td>{{ player.sex }}</td>
                                    <td>
                                        <label class="radio-inline">
                                            <input type="radio" name="{{ player.id }}" value="" checked> Inactif
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="{{ player.id }}" value="R"> Régulier
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="{{ player.id }}" value="S"> Remplaçant
                                        </label>
                                    </td>
                                </tr>
                                {% endfor %}

                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <form action="{% url 'core:season_player_delete' %}" method="post">{% csrf_token %}
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Matchs</th>
                    <th>Dû ($)</th>
                    <th>Payé ($)</th>
                    <th>Solde ($)</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for season_player in season_players %}
            <tr>
                <td>{{ season_player.player.first_name }}</td>
                <td>{{ season_player.player.last_name }}</td>
                <td>{{ season_player.get_type_display }}</td>
                <td>{{ season_player.games_played }}</td>
                <td>{{ season_player.owed|floatformat:2 }}</td>
                <td>{{ season_player.paid|floatformat:2 }}</td>
                <td>{{ season_player.balance|floatformat:2 }}</td>
                <td><a href="{% url 'core:season_player_update' season.year season_player.id %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td>
                    <button type="submit" name="id" value="{{ season_player.id }}"
                        style="padding: 0;" class="btn btn-link season_player_delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Total:</th>
                    <th>{{ season.owed|floatformat:2 }}</th>
                    <th>{{ season.paid|floatformat:2 }}</th>
                    <th>{{ season.balance|floatformat:2 }}</th>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </form>
    </table>
</div>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js"></script>
<script>
$(function () {
    $('.season_player_delete:submit').on('click', function (e, confirmed) {
        if (confirmed) {
            return;
        }
        e.preventDefault();
        var button = $(this);
        bootbox.confirm({
            message: 'Êtes-vous certain de vouloir supprimer ce joueur?',
            buttons: {
                'cancel': {
                    label: 'Annuler',
                    className: 'btn-default'
                },
                'confirm': {
                    label: 'Supprimer',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    button.trigger('click', true);
                }
            }
        });
    });
});
</script>
{% endblock %}
