{% extends "core/admin_layout.html" %}

{% block body %}

{{ form.errors }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>{% if form.instance.pk %}Saison {{ form.instance.year }}
            {% else %} Nouvelle saison
            {% endif %}
        </h1>
    </div>
    <div class="panel-body">
        <form action="" role="form" method="post">{% csrf_token %}
            <div class="form-group col-lg-4">
                <label for="year">Année</label>
                <input type="text" value="{{ form.year.value|default:'' }}"
                name="year" class="form-control" id="year"
                placeholder="yyyy"
                {% if form.instance.pk %}disabled{% endif %}>
            </div>
            <div class="form-group col-lg-4">
                <label for="regular_rate">Tarif régulier ($)</label>
                <input type="text" value="{{ form.regular_rate.value|default:'' }}"
                name="regular_rate" class="form-control" id="regular_rate"
                placeholder="0.00">
            </div>
            <div class="form-group col-lg-4">
                <label for="substitute_rate">Tarif remplaçant ($/match)</label>
                <input type="text" value="{{ form.substitute_rate.value|default:'' }}"
                name="substitute_rate" class="form-control" id="substitute_rate"
                placeholder="0.00">
            </div>
            <div class="col-lg-1">
                <button type="submit" class="btn btn-default">
                    {% if form.instance.pk %}Modifier
                    {% else %} Ajouter
                    {% endif %}
                </button>
            </div>
        </form>
        {% if form.instance.pk %}
        <form action="{% url 'core:season_delete' %}" role="form" method="post">{% csrf_token %}
            <div class="col-lg-1">
                <button type="submit" name="id" value="{{ season.id }}"
                        class="btn btn-danger season_delete">
                        Supprimer
                </button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js"></script>
<script>
$(function () {
    $('.season_delete:submit').on('click', function (e, confirmed) {
        if (confirmed) {
            return;
        }
        e.preventDefault();
        var button = $(this);
        bootbox.confirm({
            message: 'Êtes-vous certain de vouloir supprimer cette saison?',
            buttons: {
                'cancel': {
                    label: 'Annuler',
                    className: 'btn-default'
                },
                'confirm': {
                    label: 'Supprimer',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    button.trigger('click', true);
                }
            }
        });
    });
});
</script>
{% endblock %}
